<% layout("layouts/boilerPlate") %>
    <style>
        .filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter {
            margin-left: 1rem;
            margin-top: 2rem;
            text-align: center;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-info {
            display: none;
        }
        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 2.5rem;
            padding: 1rem;
            margin-left: 3rem;
            display: flex;
            align-items: center;
        }
        .filter a{
            text-decoration: none;
            color: black;
            font-size: 0.8rem;
        }
    </style>

    <body>


        <div class="filters">
            <div class="filter">
                <a href="/listings?category=Trending">
                    <div class="icon"><i class="fa-solid fa-fire"></i></div>
                </a>
                <p>Trending</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Room">
                    <div class="icon"><i class="fa-solid fa-bed"></i></div>
                </a>
                <p>Room</p>
            </div>
            <div class="filter">
                <a href="/listings?category=IconicCity">
                    <div class="icon"><i class="fa-solid fa-mountain-city"></i></div>
                </a>
                <p>Iconic City</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Mountains">
                    <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
                </a>
                <p>Mountains</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Castles">
                    <div class="icon"><i class="fa-brands fa-fort-awesome"></i></div>
                </a>
                <p>Castles</p>
            </div>
            <div class="filter">
                <a href="/listings?category=AmazingPools">
                    <div class="icon"><i class="fa-solid fa-person-swimming"></i></div>
                </a>
                <p>Amazing Pools</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Camping">
                    <div class="icon"><i class="fa-solid fa-tent-arrow-down-to-line"></i></div>
                </a>
                <p>Camping</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Farms">
                    <div class="icon"><i class="fa-solid fa-cow"></i></div>
                </a>
                <p>Farms</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Arctic">
                    <div class="icon"><i class="fa-solid fa-snowflake"></i></div>
                </a>
                <p>Arctic</p>
            </div>
            <div class="filter">
                <a href="/listings?category=Domes">
                    <div class="icon"><i class="fa-solid fa-igloo"></i></div>
                </a>
                <p>Domes</p>
            </div>
            <div class="filter">
                <a href="/listings?category=HouseBoats">
                    <div class="icon"><i class="fa-solid fa-ship"></i></div>
                </a>
                <p>House Boats</p>
            </div>
        
        

            <div class="tax-toggle ">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>


        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for(let listing of listings) { %>
                <a href="/listings/<%= listing._id  %>" class="link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url  %>" class="card-img-top" alt="<%= listing.image.filename %>"
                            style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %><br />
                                </b>
                                &#8377;<%=listing.price==undefined ? 0 : listing.price.toLocaleString("en-In") %> /
                                    night
                                    <i class="tax-info"> + 18% gst + platform charge = <%= listing.price + (0.18* listing.price) + 200 %></i>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
        <!-- <form action="/listings/new">
    <button>Create New List</button>
</form> -->

    </body>

    <script>
        let taxToggle = document.getElementById("flexSwitchCheckDefault");
        taxToggle.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (let tax of taxInfo) {
                if (window.getComputedStyle(tax).display !== "none") {
                    tax.style.display = "none";
                } else {
                    tax.style.display = "inline";
                }
            }
            console.log("clicled");
        })

    </script>